/* MUI - Tree View */
.sideNavHeading{
    margin-bottom: var(--space-3) !important;
}
.sideNav :global .MuiTreeItem-content {
    border-bottom: var(--border-width-thin) var(--border-style) var(--color-separator);
    padding-top: var(--space-1);
    padding-bottom: var(--space-1);
}

.sideNav :global .MuiTreeItem-iconContainer {
    color: var(--color-submenu-child);
}

.sideNav :global .MuiTreeItem-group {
    margin-left: 0;
}

.sideNav :global .MuiTreeItem-label {
    font-size: var(--fontSize-1);
}

.sideNavWhite {
    background: var(--color-background-primary);
}