.banner{
    background: url('../../images/background-banner.jpg');
    background-size: cover;
    width: 100%;
    min-height: 18.229vw; /* 350/1920 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerContent {
    max-width: var(--maxWidth-content);
    padding-left: var(--space-edge);
    padding-right: var(--space-edge);
    margin: var(--space-0) var(--space-auto);
    width: 100%;
}

.title {
    color: var(--color-text-invert);
}

@media (min-width: 1520px) {
    .banner {
        height: 18.229vw; /* 350/1920 */
    }
}
